.footer {
    background-color: #333; /* Dark color for footer */
    color: white;
    padding: 20px;
    position: relative;
    /* bottom:10%; */
    text-align: center;
  }
  .footer-copyright{
    margin-left: 36%;
    float: center;
  }
  .footer-content {
    margin: 20%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .footer-links a {
    margin-left: 10%;
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
